body {
	background-color: #243447;
	color: #fff;
	font-family: Verdana, Helvetica, sans-serif;
}

.site-header {
	background-color: #ee8442;
	border-bottom: 10px solid #216ca3;
}

.site-header a {
	color: #fff;
	font-size: 2em;
}

.site-header a:hover {
	color: #1d9bf0;
}

.navbar-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 

.navbar-toggler { 
    border-color: #fff; 
}

.navbar-toggler:focus {
    outline: none;
}

.btn-primary {
	 font-size: 2em;
	 background-color: #216ca3;
	 border-color: #216ca3;
}

.btn-primary:hover {
	font-size: 2em;
	background-color: transparent;
	border-color: #216ca3;
}

.btn-outline-primary {
	color: #216ca3;
	border-color: #216ca3;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #216ca3;
	border-color: #216ca3;
}

form > div > .btn-primary {
	font-size: 1em;
}

form > div > .btn-primary:hover {
	font-size: 1em;
}

.border {
	border-width: 3px !important;
	border-radius: 15px;
}

.border-report {
	border-radius: 5px !important;
}

h1, h2, h3 + div > h3 ,h2 ~ h3, h2 ~ p, legend, .num-reports-title, .user-profile {
	text-align: center;
}

.num-reports {
	font-size: 2em;
	text-align: center;
}

.w-scan_followers {
	width: 27%;
}

.scan-fields {
	font-size: 2em;
}

h1 > span {
	color: #ff0000;
}

.grid-layout button {
	width: 100%;
}

.tweet > a {
	display: block;
}

.user_grid input {
	display: none;
}

.user_grid label {
	text-align: center;
}

.user_grid input:checked + label img {
	opacity: 50%;
