aiodns==2.0.0
aiohttp==3.7.3
aiohttp-socks==0.5.5
anyjson==0.3.3
argon2-cffi==19.1.0
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
blinker==1.4
brotlipy==0.7.0
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.4
colour==0.1.5
SQLAlchemy-Utils==0.36.8
cryptography==2.9.2
cycler==0.10.0
dataclasses==0.6
elasticsearch==7.10.1
fake-useragent==0.1.11
filelock==3.0.12
Flask-Admin==1.5.7
Flask-Dance==3.3.1
Flask-Login==0.5.0
Flask-WTF==0.14.3
Flask-SQLAlchemy==2.4.4
furl==2.1.0
geographiclib==1.50
geopy==2.1.0
googletransx==2.4.2
happytransformer==2.1.0
idna==2.10
infinity==1.5
intervals==0.9.1
kiwisolver==1.3.1
MarkupSafe==1.1.1
pandas==1.1.5
matplotlib==3.3.3
oauthlib==3.1.0
opencv-python==4.5.1.48
orderedmultidict==1.0.1
packaging==20.9
passlib==1.7.4
Pillow==8.1.0
protobuf==3.15.4
pycares==3.1.1
pycparser==2.20
pyparsing==2.4.7
PyQRCode==1.2.1
PySocks==1.7.1
python-dateutil==2.8.1
python-socks==1.2.0
pytz==2021.1
regex==2020.11.13
SQLAlchemy==1.3.23
requests==2.25.1
requests-oauthlib==1.3.0
sacremoses==0.0.43
schedule==1.0.0
sentencepiece==0.1.95
six==1.15.0
sklearn==0.0
soupsieve==2.1
tokenizers==0.10.1
Flask-SQLAlchemy==2.4.4
torch==1.7.1
tqdm==4.58.0
transformers==4.3.3
tweepy==3.10.0
tweet-preprocessor==0.6.0
typing-extensions==3.7.4.3
urllib3==1.26.3
URLObject==2.4.3
wincertstore==0.2
yarl==1.6.3