{% extends "layout.html" %}
{% block main %}
    
    <div class="content-section">
        <form method="POST" action="" onsubmit="showLoader()" class="w-50 mx-auto mt-5">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom h3 mb-4">Search For A Twitter User</legend>
                <div class="form-group h5 mt-1 mb-0">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group h5">
                {{ form.submit(class="btn btn-primary btn-lg") }}
            </div>
        </form>
    </div>
    
    <p class="w-50 mx-auto mb-1"><a class="text-white" href="{{ url_for('report_ranked', page=1)}}">View Total Reports List</a></p>
    <p class="w-50 mx-auto mb-1"><a class="text-white" href="{{ url_for('my_reports')}}">My Reports</a></p>
    <p class="w-50 mx-auto mb-4"><a class="text-white" href="{{ url_for('report')}}">Make A Report</a></p>

    <div class="w-50 mx-auto">
        <h2 class="border-bottom mb-4">Recent Reports</h2>
        {% for report in reports.items %}
        <div class="report my-3 px-3 py-1">
            <p class="h3 my-3">Report on <a href ="{{url_for('database_search', username=report.account_id)}}">@{{ report.account_id }}</a></p>
            <p>Submitted: {{ report.date_submitted.strftime("%d/%m/%Y @ %H:%M") }}</p>
            <p>Threat Type: {{ report.threat_type}}</p>
            <p>Report: {{ report.summary }}</p>
        </div>
        {% endfor %}
    
        {% for page_num in reports.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
    
            {% if page_num %}
                {% if reports.page == page_num %}
                    <a class="btn btn-info btn-lg mb-4" href="{{ url_for('database', page=page_num)}}"> {{page_num}} </a>
                {% else %}
                    <a class="btn btn-outline-info btn-lg mb-4" href="{{ url_for('database', page=page_num)}}"> {{page_num}} </a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}
