{% extends "layout.html" %}
{% block main %}
    
    <div class="content-section">
        <form method="POST" action="" class="w-25 mx-auto mt-5">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search For A Twitter User</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
    <p class="w-25 mx-auto"><a href="{{ url_for("report_ranked", page=1)}} ">See Our Total Reports List</a></p>
    <p class="w-25 mx-auto"><a href="{{ url_for("report")}} ">Make A Report</a></p>

    <div class="w-25 mx-auto mt-5">
        <h2><b>Recent Reports</b></h2>
        {% for report in reports.items %}
            <h2>Report on <a href ="{{url_for('database_search', username=report.account_id)}}"> {{ report.account_id }} </a></h2>
            <h3>Time: {{ report.date_submitted.strftime("%d-%m-%Y at %H:%M:%S") }} </h3>
            <h3>Threat Type: {{ report.threat_type}}
            <p><b>Summary: </b>{{ report.summary }}</p>
        {% endfor %}
    
        {% for page_num in reports.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
    
            {% if page_num %}
                {% if reports.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for("database", page=page_num)}} "> {{page_num}} </a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for("database", page=page_num)}} "> {{page_num}} </a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}
