{% extends "layout.html" %}

{% block main %}
    <div class="container border p-4 my-4">
        <!-- Page layout is contained in a Bootstrap grid -->
        <div class="row">
            <div class="col-12">
                <h1 class="display-1 mb-1 text-center"> Tweet Guard </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="lead text-center">
                    In digital times, digital crimes are also rocketing. 
                    People need a way to keep themselves safe from online threats.
                    This application can be used to scan accounts for threatening or offensive behaviour such as racism, homophobia, and other forms of hate speech. The scan function can be used in two different ways:
                    <ul>
                        <li>
                            You can search for a specific account and receive a full report on the account. 
                        </li>
                        <li>
                            The user can scan their own account and be given analysis of up to 10 of their most recent followers, documented as a full report which highlights the dangerous users, and, if possible, will give an option to unfollow a specific user or mass unfollow all threatening accounts. 
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 col-md-4">
                {% if current_user.is_authenticated %}
                    <a class="btn btn-primary btn-lg btn-block" type="button" href="{{url_for('logout')}}">Log Out</a>
                {% else %}
                    <a class="btn btn-primary btn-lg btn-block" type="button" href="{{url_for('login')}}">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}