{% extends "layout.html" %}

{% block main %}
    <h1> Tweet Guard </h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block" type="button">Log In</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block" type="button">Sign Up</button>
            </div>
        </div>
    </div>
{% endblock main %}