{% extends "layout.html" %}

{% block main %}
    <h1> Tweet Guard </h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a class="btn btn-primary btn-lg btn-block" type="button" href="{{url_for('login')}}">Log In</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a class="btn btn-primary btn-lg btn-block" type="button" href="{{url_for('register')}}">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock main %}