{% extends "layout.html" %}
{% block main %}
	<form method="POST" action="" class="w-25 mx-auto mt-5">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Login</legend>
			{% for field in form %}
				{% if field.name != 'remember' and field.name != 'submit' and field.widget.input_type != 'hidden' %}
					<div class="form-group">
						{{ field.label(class="form-control-label") }}
						{% if field.errors %}
							{{ field(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.field.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ field(class="form-control form-control-lg") }}
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
			<div class="form-check">
				{{ form.remember(class="form-check-input")}}
				{{ form.remember.label(class="form-check-label")}}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
		<small class="text-muted">
			Click here to <a href="#">Reset Password</a> or register to <a href="{{ url_for('register') }}">Create Account</a>. 
		</small>
	</form>
{% endblock main %}