{% extends "layout.html" %}
{% block main %}
	<form method="POST" action="" class="w-25 mx-auto mt-5">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Join the Guard</legend>
			{% for field in form %}
				{% if field.name != 'submit' and field.widget.input_type != 'hidden' %}
					<div class="form-group">
						{{ field.label(class="form-control-label") }}
						{% if field.errors %}
							{{ field(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.field.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ field(class="form-control form-control-lg") }}
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
		<small class="text-muted text-right">
			or Login <a href="{{ url_for('login') }}">Here</a>
		</small>
	</form>
{% endblock main %}