{% extends "database.html" %}
{% block main %}
    <div class="w-50 mx-auto mt-5 mb-4">
        <div>
            <h3>Total Reports On Each Account</h3>
            <h4 class="handle">Sorted by number of reports</h4>
        </div>

        
        <div class="mt-5">
            <div class="row p-2">
                <div class="col-8 col-sm-9">
                    <h3>Account</h3>
                </div>
                <div class="num-reports-title col-4 col-sm-3">
                    <h3>Reports</h3>
                </div>
            </div>
            {% set start = (page-1)*5 %}
            {% for i in range(start, start+5) %}
            {% if i < length %}
            <div class="row p-3 rank-division">
                <div class="col-4">
                    <img class="profile-pic-2" src={{user_profiles[i][2].replace('_normal', '')}}>
                </div>
                <div class="col-5 mt-3">
                    <p class="mb-1 h6">{{user_profiles[i][1]}}</p>
                    <a class="h5 ranked-handle handle" href="{{ url_for('database_search', username=count[i][0], page=1)}}"><b>@{{ count[i][0] }}</b></a>
                </div>
                
                <div class="col-3 mt-3">
                    <p class="num-reports"> {{ count[i][1] }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        
        <div class="mt-4 mx-2">
            {% for page_num in counts2.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                {% if page_num %}
                    {% if counts2.page == page_num %}
                        <a class="btn btn-info mb-4" href="{{ url_for("report_ranked", page=page_num)}} "> {{page_num}} </a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for("report_ranked", page=page_num)}} "> {{page_num}} </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
    