{% extends "layout.html" %}
{% block main %}

    <div class="w-50 mx-auto mt-5">
        <div class="row pb-4 border-bottom">
            <div class="col-2-lg">
                <img class="profile-pic" src="{{ profile[2].replace('_normal', '') }}" alt="User's Picture">
            </div>
            <div class="col pt-3">
                <h3>{{ profile[1] }}</h3>
                <h4 class="handle"><a href="{{ url_for('database_search', username=profile[0])}}"></a>@{{profile[0] }}</h4>
            </div>
        </div>
    </div>
    {% if length > 0 %}
        <section class="account-summary mt-3 mb-3 border">
            <p>Total Reports on Account: {{account_summary[0]}}</p>
            <p>Total Tweets Scanned: {{account_summary[1]}}</p>
            <p>Total Tweets Flagged: {{account_summary[2]}}</p>
            <p>Danger Level: {{account_summary[3]}}</p>
        </section>
            
        <h2 class="mt-3">Threatening Tweets Found:</h2>
            {% for tweet in tweets %}
                <section class="tweet w-50 mx-auto p-2 border-bottom">
                    <article class="w-50 mx-auto">
                        <p>{{tweet[1]}}</p> 
                    </article>
                    <a class="btn btn-primary" href="https://twitter.com/twitter/statuses/{{tweet[0]}}" target="_blank">View Tweet</a>
                </section>
            {% endfor %}
    {% else %}
        <section class="no-threat-found w-50 mx-auto">
            <img src="{{ url_for('static', filename='mr_clean.jpg') }}" alt='Mr. Clean'>
            <p>No threat found. Hurray!</p>
        </section>
    {% endif %}
    
{% endblock %}
