{% extends "layout.html" %}
{% block main %}
    <h1 class="border-bottom w-50 mx-auto">Follower list for <a href="{{ url_for('database_search', username=user_profile[0])}}">@{{ user_profile[0] }}</a></h1>
    <div class="grid-layout w-50 mx-auto mt-3">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3">Select from your followers using the list below</h2>
            </div>
            <span id="res"></span>
        </div>
        <div class="row">
            <div class="col-12">
                <form class="user_grid p-5 border" action="/selected_followers" onsubmit="showLoader()" method="POST">
                    <input name="{{user_profile[0]}}" type="hidden">
                    <div class="row mt-3">
                        <script type="text/javascript">
                            function displayFollowers() {
                                let followerList = JSON.parse('{{follower_list|tojson}}');
                                let grid = document.querySelector(".user_grid");
                                let row = grid.lastChild;
                                for (i=0; i<followerList.length; i++) {
                                    if ((i > 0) && (i % 4) == 0) {
                                        let newRow = document.createElement("div");
                                        newRow.className = "row mt-3";
                                        grid.appendChild(newRow);
                                        row = grid.lastChild;
                                    }
                                    let user_label = document.createElement("label");
                                    let user_checkbox = document.createElement("input");
                                    let user_handle = document.createElement("p");
                                    let user_image = document.createElement("img");
                                    let user_id = "user-" + i.toString();
                                    let user_name = followerList[i][0]
                                    user_checkbox.id = user_id;
                                    user_checkbox.type="checkbox";
                                    user_checkbox.name = user_name;
                                    user_label.htmlFor = user_id;
                                    user_image.src = followerList[i][2].replace("_normal", "");
                                    user_image.className = "profile-pic"
                                    user_label.className = "col-3";
                                    user_handle.append("@" + followerList[i][0])
                                    user_label.appendChild(user_image);
                                    user_label.appendChild(user_handle);
                                    row.appendChild(user_checkbox);
                                    row.appendChild(user_label);
                                    
                                }
                            }
                        </script>
                        <script>
                            displayFollowers();
                        </script>
                    </div>
                    <div class="row mt-3">
                        <div class="col-5">
                            <button type="submit" class="btn btn-primary btn-lg">Scan Selected</button>
                        </div>
                        <div class="col-2">
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-primary btn-lg">Scan All</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    <h2 class="mt-5">Or choose up to 10 of your most recent followers to scan!</h2>
    <form method="POST" action="" onsubmit="showLoader()">
        <fieldset class="form-group">
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-5">

                </div>
                <div class="col-7">
                    {{ form.follower_count.label }}:
                </div>
            </div>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-6">
                    {{ form.follower_count(min=0, max=10, oninput="outputUpdate(value)", class="form-control-range") }}
                </div>
                <div class="col-3">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>            
            </div>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-9">
                    <output for="follower_count" id="selected-followers">{{ form.follower_count.data }}</output>
                </div>
            </div>
        </fieldset>
    </form>
    
    <script>
        function outputUpdate(age) {
            document.querySelector('#selected-followers').value = follower_count.value;
        }
    </script>
{% endblock %}
