{% extends "layout.html" %}
{% block main %}

    <h1> Scan Results for {{ user_profile[0] }}</h1>
    <h2>Name: {{ user_profile[1] }}</h2>
    <h2><img src={{ user_profile[2] }} alt="User's Picture"</h2>
    {% if length > 0 %}
        <h1><b>Results Found!</b></h1>
        {% for i in range(length) %}
        <section>
            <h2><b>Scanned User {{i+1}}</b></h12>
            <h2><b><a href="{{url_for('database_search', username=results[i][0][0])}}">{{results[i][0][1]}}</a></b></h2>
            <img src="{{results[i][0][2]}}">
            {% for result in results[i][1] %}
                <p> Date: {{ result.date_scanned}} </p>
                <p> {{result.threat_level}}</p>
                <p> {{result.threat_detected}}</p>
                <p><a href="https://www.twitter.com/twitter/statuses/{{result.id}}">{{result.id}}</a></p>
            {% endfor %}
        </section>
        {% endfor %}
    {% else %}
        <section>
            <p>No threat found in the followers of this user. Hurray!</p>
        </section>
    {% endif %}
    
{% endblock %}
