{% extends "layout.html" %}
{% block main %}

    <h1 class="border-bottom w-50 mx-auto"> Scan Results for <a href="{{ url_for('database_search', username=user_profile[0])}}">@{{ user_profile[0] }}</a></h1>
    <h2>Name: {{ user_profile[1] }}</h2>
    <h2 class="user-profile"><img src={{ user_profile[2] }} alt="User's Picture"></h2>
    {% if length > 0 %}
        <h1><b>Results Found!</b></h1>
        {% for i in range(length) %}
         <section class="user-profile w-scan_followers mx-auto p-3 border mt-3">
            <h2><b>Scanned User {{i+1}}</b></h12>
            <h2><b><a href="{{url_for('database_search', username=scan_results[i][2][0])}}">{{scan_results[i][2][0]}}</a></b></h2>
            <img class="mb-3" src="{{scan_results[i][2][2]}}">
            <p>total reports on account: {{scan_results[i][1][0]}}</p>
            <p>total tweets scanned: {{scan_results[i][1][1]}}</p>
            <p>total tweets flagged as racist: {{scan_results[i][1][2]}}</p>
            <p>danger level: {{scan_results[i][1][3]}}</p>
            
            {% for tweet in scan_results[i][0] %}
                    <p><a href="https://twitter.com/twitter/statuses/{{tweet[0]}}">link to tweet!<a></p>
                    <p>{{tweet[1]}}</p>
            {% endfor %}
        </section>
        {% endfor %}
    {% else %}
        <section>
            <p>No threat found in the followers of this user. Hurray!</p>
        </section>
    {% endif %}
    
{% endblock %}
