{% extends "layout.html" %}
{% block main %}

<h1>Choose up to 50 of your most recent followers to scan</h1>
    <form class="mb-5" method="POST" action="">
        <fieldset class="form-group">
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-5">

                </div>
                <div class="col-7">
                    {{ form.follower_count.label }}:
                </div>
            </div>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-6">
                    {{ form.follower_count(min=0, max=50, oninput="outputUpdate(value)", class="form-control-range") }}
                </div>
                <div class="col-3">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>            
            </div>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-9">
                    <output for="follower_count" id="selected-followers">{{ form.follower_count.data }}</output>
                </div>
            </div>
        </fieldset>
    </form>
    <h1 class="mb-5">Or select from your followers using the list below!</h1>
    <div class="grid w-50 mx-auto p-5 border">
        <div class="row mb-3">
            <script type="text/javascript">
                function displayFollowers() {
                    let followerList = JSON.parse('{{follower_list|tojson}}');
                    let grid = document.querySelector(".grid");
                    let row = grid.lastChild;
                    for (i=0; i<followerList.length; i++) {
                        if (i == 5) {
                            let newRow = document.createElement("div");
                            newRow.className = "row mt-5";
                            grid.appendChild(newRow);
                            row = grid.lastChild;
                        }
                        let col = document.createElement("div");
                        col.className = "col";
                        row.appendChild(col);
                        col.innerHTML = "<img src='" + followerList[i][2] + "'><p class= 'mb-3'>" + followerList[i][0] + "</p>";
                    }
                }
            </script>
            <script>
                displayFollowers();
            </script>
        </div>
    </div>
    <script>
        function outputUpdate(age) {
            document.querySelector('#selected-followers').value = follower_count.value;
        }
    </script>
{% endblock %}
