{% extends "layout.html" %}
{% block main %}

    <h1 class="border-bottom w-50 mx-auto"> Scan results for <a href="{{ url_for("database_search", username=profile[0])}}">{{ profile[0] }}</a></h1>
    <h2>Name: {{ profile[1] }}</h2>
    <h2><img src={{ profile[2] }} alt="User's Picture"</h2>
    {% if length > 0 %}
        <h1><b>Results Found!</b></h1>
        <section>
            <h2><b><a href="{{url_for('database_search', username=profile[0])}}">{{profile[0]}}</a></b></h2>
            <p>total reports on account: {{account_summary[0]}}</p>
            <p>total tweets scanned: {{account_summary[1]}}</p>
            <p>total tweets flagged as racist: {{account_summary[2]}}</p>
            <p>danger level: {{account_summary[3]}}</p>
            
            {% for tweet in tweets %}
                    <p class="tweet"><a href="https://twitter.com/twitter/statuses/{{tweet[0]}}">link to tweet!<a></p>
                    <p>{{tweet[1]}}</p>
            {% endfor %}
        </section>
    {% else %}
        <section>
            <p>No threat found. Hurray!</p>
        </section>
    {% endif %}
    
{% endblock %}
